* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}

#add {
  display: block;
  margin: 0 auto;
}

canvas {
  display: block;
  background-color: rgb(206, 193, 238);
}

.main {
  position: absolute;
}
