/* Resetting default styles for all elements */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* General button styles */
button {
  cursor: pointer;
}

/* Styles for the "Add ball" button */
#add {
  display: block;
  margin: 0 auto;
}

#add {
  margin: 4px auto;
  width: 200px;
  appearance: none;
  background-color: transparent;
  background-color: rgb(255, 255, 255);
  border: 1px solid #000000;
  border-radius: 15px;
  color: #000000;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  padding: 5px 24px;
  text-align: center;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  touch-action: manipulation;
}

#add:disabled {
  pointer-events: none;
}

/* Hover and active state effects for the "Add ball" button */
#add:hover {
  color: #fff;
  background-color: #1a1a1a;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

#add:active {
  box-shadow: none;
  transform: translateY(0);
}

/* Styles for the "Clear" button */
#clear {
  display: block;
  margin: 0 auto;
  height: 30px;
  width: 100px;
  border-radius: 10px;
  background-color: white;
  border: 1px solid #000000;
  color: black;
  transition: color 0.2s linear, background-color 0.2s linear;
}

#clear:hover {
  border: 1px solid black;
  background-color: black;
  color: white;
}

#clear:active {
  border: 1px solid white;
}

/* Styles for the "Create" button */
.buttonSubmit {
  width: 100px;
  height: 30px;
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 10px;
  transition: transform 0.2s linear, color 0.2s linear,
    background-color 0.2s linear;
}

.buttonSubmit:hover {
  transform: translateY(1px);
  background-color: black;
  color: white;
}

.buttonSubmit:active {
  border: 1px solid white;
}

/* Canvas styles */
#canvas {
  display: block;
  background-color: rgb(135, 116, 240);
}

/* Main container positioning */
.main {
  position: absolute;
  left: 50%;
  top: 10px;
  transform: translate(-50%, 0);
}

/* Styles for form containers */
.createBallMenu,
.formBall,
#backgroundForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 20px;
  gap: 10px;
  border: 1px solid black;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.514);
}

.createBallMenu {
  display: none;
}

/* Button styles within the form */
.formBall button {
  width: 100px;
}

/* Input styles in the pickers section */
.formBall .pickers input {
  margin-right: 20px;
}
